from sqlalchemy import Column, Integer, String, DateTime, Sequence
from sqlalchemy.ext.declarative import declarative_base

{% for table in project.tables %}
class {{ table.name }}(Base):
    __tablename__ = '{{ table.name }}'

    {% for col in table.cols -%}
    {{ col.name }} = Column()
    {% endfor %}

    def __init__(self,
        {%- for col in table.cols -%}
            {{ col.name }}=None,
        {%- endfor %}):
        {% for col in table.cols -%}
        self.{{ col.name }} = {{ col.name }}
        {% endfor %}

    def __repr__(self):
        return "<{{ table.name }}({% for col in table.cols %}%s, {% endfor %})>" % ({% for col in table.cols %}self.{{ col.name }}, {% endfor %})

{% endfor %}

