<div class="accordion" id="accordion_project">


    <div class="accordion-group" data-flag="user_info">
        <div class="accordion-heading" style="position: relative">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_project"
               href="#tb_user_info"> <i class="icon-calendar"></i> <span class="l_t_name">用户信息 [user_info]</span> </a>
                <span class="btn-group table-button" style="position: absolute;top: 5px;right: 10px">
                    <button class="btn btn-small btn-danger del_table"><i class="icon-remove icon-white"></i></button>
                    <button class="btn btn-small btn-success add_col"><i class="icon-plus icon-white"></i></button>
                    <button class="btn btn-small btn-success edit_table"><i class="icon-edit icon-white"></i></button>
                </span>
        </div>
        <div id="tb_user_info" class="accordion-body collapse">
            <div class="accordion-inner">

            </div>
        </div>
    </div>


    <div class="accordion-group" data-flag="device">
        <div class="accordion-heading" style="position: relative">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_project"
               href="#tb_device"> <i class="icon-calendar"></i> <span class="l_t_name">设备 [device]</span> </a>
            <span class="btn-group table-button" style="position: absolute;top: 5px;right: 10px">
                <button class="btn btn-small btn-danger del_table"><i class="icon-remove icon-white"></i></button>
                <button class="btn btn-small btn-success add_col"><i class="icon-plus icon-white"></i></button>
                <button class="btn btn-small btn-success edit_table"><i class="icon-edit icon-white"></i></button>
            </span>
        </div>
        <div id="tb_device" class="accordion-body collapse">
            <div class="accordion-inner"></div>
        </div>
    </div>

    <div class="accordion-group" data-flag="device">
        <div class="accordion-heading" style="position: relative">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_project" href="#tb_device">
                <i class="icon-calendar"></i> <span class="l_t_name">设备 [device]</span>
            </a>
                                    <span class="btn-group table-button"
                                          style="position: absolute;top: 5px;right: 10px">
                                        <button class="btn btn-small btn-danger del_table"><i
                                                class="icon-remove icon-white"></i></button>
                                        <button class="btn btn-small btn-success add_col"><i
                                                class="icon-plus icon-white"></i></button>
                                        <button class="btn btn-small btn-success edit_table"><i
                                                class="icon-edit icon-white"></i>
                                        </button>
                                    </span>
        </div>
        <div id="tb_device" class="accordion-body collapse">
            <div class="accordion-inner">

            </div>
        </div>
    </div>


</div>